<table class='table'>
  <tr><%= image_tag customer.get_profile_image, size:'100x100' %></tr>
  <tr>
    <th>name</th>
    <th><%= customer.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= customer.introduction %></th>
  </tr>
</table>

<div class='row'>
  <% if current_customer != customer %>
    <td><%= render "relationships/btn", customer: customer %></td>
  <% else %>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block edit_customer_path" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>