<table class='table'>
  <tr><%= image_tag customer.get_profile_image, size:'100x100' %></tr>
  <tr>
    <th>name</th>
    <th><%= customer.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= customer.introduction %></th>
  </tr>
</table>

<div class='row'>

  <% if current_customer.name != "guestcustomer" %>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block edit_customer_path_#{customer.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
    <%= link_to saunas_bookmarks_path, class: "btn btn-info btn-block edit_customer_path_#{customer.id}" do %>
    　ブックマーク一覧
    <% end %>
  <% end %>

</div>