<div class="container">
  <div class="m-md-2"><br></div>
  <div class="row">
    <div class="col-md-2"></div>
    <h4 class="col-md-2 mx-auto text-center">
      <strong>サウナ詳細</strong>
    </h4>

    <div class="col-md-8"></div>
  </div>

  <div class="m-md-2"><br></div>

    <div class="row">
      <div class="col-md-5 mx-auto">
        <%= image_tag @sauna.image, size:'400x300' %>
    </div>
    <div class="col-md-7 mx-auto">
      <table class="information">

        <tr>
          <th>都道府県</th>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td><%= @sauna.prefecture %></td>
        </tr>

        <td class="m-md-1"><br></td>

        <tr>
          <th>店舗名</th>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td><%= @sauna.sauna_name %></td>
        </tr>

        <td class="m-md-1"><br></td>

        <tr>
          <th>商品説明</th>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td><%= @sauna.introduction %></td>
        </tr>

        <td class="m-md-1"><br></td>

        <tr>
          <th>アクセス</th>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td><%= @sauna.access %></td>
        </tr>

        <td class="m-md-1"><br></td>

        <tr>
          <th>サウナ温度</th>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td><%= @sauna.sauna_temperature %></td>
        </tr>

        <td class="m-md-1"><br></td>

        <tr>
          <th>水風呂温度</th>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td><%= @sauna.water_temperature %></td>
        </tr>

        <td class="m-md-1"><br></td>

        <tr>
          <th>表示ステータス</th>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <% if @sauna.is_active == true %>
            <td class="text-success">
              <strong><%= '表示中' %></strong>
            </td>
          <% else %>
            <td class="text-secondary">
              <strong><%= '非表示中' %></strong>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class="m-md-1"><br></div>


  <div class="row">
    <div class="action center-block mx-auto">
      <%= link_to '編集する',edit_admin_sauna_path(@sauna), class: 'btn btn-success' %>
    </div>
  </div>
</div>