<div id="rate_<%= post.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
    let raty_<%= post.id %> = document.querySelector('#rate_<%= post.id %>');
    rate_<%= post.id %>.innerHTML = ""
    let option_<%= post.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= post.rate %>",
        readOnly: true,
      };
    raty(raty_<%= post.id %> ,option_<%= post.id %>);
});
</script>