<table class='table'>
  <tr><%= image_tag customer.get_profile_image, size:'100x100' %></tr>
  <tr>
    <th>会員ID</th>
    <th><%= customer.id %></th>
  </tr>
  <tr>
    <th>name</th>
    <th><%= customer.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= customer.introduction %></th>
  </tr>
  <tr>
    <th>会員ステータス</th>
    <th>
    <% if customer.is_deleted == false %>
      <div class="text-success" >
        <%= '有効' %>
      </div>
    <% else %>
      <div class="text-secondary" >
        <%= '退会' %>
      </div>
    <% end %>
    </th>
  </tr>
</table>
<div class="text-left">
  <%= link_to '編集する',edit_admin_customer_path(@customer), class: 'btn btn-success' %>
</div>
