<div class="container">
  <div class="m-md-2"><br></div>
  <div class="row">
    <div class="col-md-1"></div>
    <h4 class="col-md-11 mx-auto text-left">
      <strong><%= @customer.name %>さんの会員詳細</strong>
    </h4>
    <div class="col-md-8"></div>
  </div>

  <div class="m-md-8"><br></div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 mx-auto text-left">会員ID</div>
      <div class="col-md-4"><%= @customer.id %></div>
      <div class="col-md-5"></div>

      <br><br>

      <div class="col-md-1"></div>
      <div class="col-md-2 mx-auto text-left">氏名</div>
      <div class="col-md-4"><%= @customer.name %></div>
      <div class="col-md-5"></div>

      <br><br>

      <div class="col-md-1"></div>
      <div class="col-md-2 mx-auto text-left">会員ステータス</div>
      <div class="col-md-4 mx-auto text-left">
        <% if @customer.is_deleted == false %>
          <div class="text-success" >
            <%= '有効' %>
          </div>
        <% else %>
          <div class="text-secondary" >
            <%= '退会' %>
          </div>
        <% end %>
      </div>
      <div class="col-md-5"></div>
    </div>

  <div class="col-md-1"><br></div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <%= link_to '編集する',edit_admin_customer_path(@customer), class: 'btn btn-success' %>
    </div>
    <div class="col-md-4">
      <%= link_to '投稿一覧を見る',admin_posts_path(@customer), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="container">
  <div class="m-md-2"><br></div>
  <div class="row">
    <div class="col-md-2"></div>

    <h5 class="col-md-2 mx-auto text-center">
      <strong><%= @customer.name %>さんの<br>投稿一覧</strong>
    </h5>

    <div class="col-md-8"></div>
  </div>

  <div class="m-md-2"><br></div>

  <% @post.each do |post| %>

    <div class="form_group row">
      <div class="col-md-3"></div>
      <div class="col-md-1 text-left"></div>
      <div class="col-md-8">投稿者　　<%= link_to customer_path(post.customer.id) do %><%= post.customer.name %><% end %></div>
    </div>

    <div class="form_group row">
      <div class="col-md-3"></div>
      <div class="col-md-1 text-left"></div>
      <div class="col-md-8">店舗名　　<%= link_to sauna_path(post.sauna.id) do %><%= post.sauna.sauna_name %><% end %></div>
    </div>

    <div class="form_group row">
      <div class="col-md-3"></div>
      <div class="col-md-1 text-left"></div>
      <div class="col-md-8">アクセス　　<%= post.sauna.access %></div>
    </div>


    <div class="form_group row">
      <div class="col-md-3"></div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.sauna.image, size: '200x250', class:"card-img-top" %>
      <% end %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-1 text-left"></div>
      <div class="col-md-8">タイトル<br><%= post.title %></div>
    </div>

    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-1 text-left"></div>
      <div class="col-md-8">感想<br><%= post.body %></div>
    </div>
  <% end %>
</div>