<% saunas.each do |sauna| %>
  <%= link_to sauna_path(sauna.id) do %>
    <div class="col-4">
      <div class="card m-1">
        <%= link_to sauna_path(sauna.id) do %>
          <%= image_tag sauna.image, size: '200x200', class:"card-img-top" %>
        <% end %>
        <div class="card-body">
          <div class="card-text">
            <div class="mb-1 text-nowrap overflow-hidden text-truncate"><i class="fas fa-map-marker-alt"></i> <%= sauna.prefecture %></div>
            <div class="mb-1 text-nowrap overflow-hidden text-truncate"><i class="fas fa-store"></i> <%= sauna.sauna_name %></div>
            <div class="mb-1 text-nowrap overflow-hidden text-truncate"><i class="fas fa-map"></i> <%= sauna.access %></div>
            <div class="mb-1 text-nowrap overflow-hidden text-truncate"><i class="fas fa-fire-alt"></i> <%= sauna.sauna_temperature %>℃　<i class="fas fa-tint"></i> <%= sauna.water_temperature %>℃</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
