<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'public/customers/info', customer: current_customer %>
    </div>
    <div class="col-9 d-flex flex-column">
      <h5 class="m-3"><strong>ブックマーク一覧</strong></h5>
      <div class="d-flex flex-row flex-wrap">
      <% @bookmarks.each do |bookmark| %>
        <%= link_to sauna_path(bookmark.sauna.id) do %>
          <div class="col-4">
            <div class="card m-1">
              <%= link_to sauna_path(bookmark.sauna.id) do %>
                <%= image_tag bookmark.sauna.image, size: '200x200', class:"card-img-top" %>
              <% end %>
              <div class="card-body">
                <div class="card-text">
                  <div class="mb-1 text-nowrap overflow-hidden text-truncate"><i class="fas fa-map-marker-alt"></i> <%= bookmark.sauna.prefecture %></div>
                  <div class="mb-1 text-nowrap overflow-hidden text-truncate"><i class="fas fa-store"></i> <%= bookmark.sauna.sauna_name %></div>
                  <div class="mb-1 text-nowrap overflow-hidden text-truncate"><i class="fas fa-map"></i> <%= bookmark.sauna.access %></div>
                  <div class="mb-1 text-nowrap overflow-hidden text-truncate"><i class="fas fa-fire-alt"></i> <%= bookmark.sauna.sauna_temperature %>℃　<i class="fas fa-tint"></i> <%= bookmark.sauna.water_temperature %>℃</div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="col-md-2 mx-auto text-left">
        <%= paginate @bookmarks %>
      </div>
    </div>
    </div>
  </div>
</div>
